@import "libs/config";
@import "libs/header";



body {
    font-family: 'Exo 2', sans-serif;
    background-color: $primary;
    color: $white;
}

.dflex {
    display: flex;
}

.dnone {
    display: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

