<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('page/templates/head')  %> 
    <title>QUIZZDOM | Login</title>
</head>
<body>
    <%- include('page/templates/header-shown') %>
</body>
</html>