<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('page/templates/head')  %> 
    <title>QUIZZDOM | Create new quiz</title>
</head>
<body>
    <%- include('page/templates/header-shown') %>
    <main>
        <div class="container new__container">
            <h2>Create a <span>new</span> quiz</h2>
            <form method="POST" class="new__wrapper" id="new-quiz-form">
                <div class="new__section new__quiz dflex">
                    <div>
                        <label for="name-quiz">Name of quiz</label> <br>
                        <input type="text" id="name-quiz" placeholder="Enter your quiz name"> <br>
                        <label for="img-quiz">Main photo quiz</label>
                        <input type="file" name="img-quiz" id="img-quiz">
                    </div>
                    <div>
                        <label for="description-quiz">Description of the quiz</label> <br>
                        <textarea name="description-quiz" id="description-quiz" placeholder="Description of the quiz"></textarea>
                    </div>
                </div>
                <div class="line" id="line"></div>
                <div class="new__section new__question dflex">
                    <div>
                        <label for="new-question" class="count-question">Question 1</label> <br>
                        <textarea name="new-question" id="new-question" placeholder="Enter the question" class="question-input"></textarea> <br>
                        <label for="img-question">Question photo</label>
                        <input type="file" name="img-question" id="img-question" class="question-img-input"> <br> <br>
                    </div>
                    <div>
                        <label for="option1">Option 1</label>
                        <input type="text" id="option1" data-id="1" placeholder="Type 1st answer" class="answer-option"> <br>
                        <label for="option2">Option 2</label>
                        <input type="text" id="option2" data-id="2" placeholder="Type 2nd answer" class="answer-option"> <br>
                        <label for="option3">Option 3</label>
                        <input type="text" id="option3" data-id="3" placeholder="Type 3rd answer" class="answer-option"> <br>
                        <label for="option4">Option 4</label>
                        <input type="text" id="option4" data-id="4" placeholder="Type 4th answer" class="answer-option"> <br>
                    </div>
                    <div class="checkboxes">
                        <input type="checkbox" data-id="1" value="option1" name="boolean">
                        <input type="checkbox" data-id="2" value="option2" name="boolean">
                        <input type="checkbox" data-id="3" value="option3" name="boolean">
                        <input type="checkbox" data-id="4" value="option4" name="boolean">
                    </div>
                </div>
                <br>
            </form>
            <p id="add-quest" class="btn-secondary">Add question +</p> <br>
            <button type="submit" form="new-quiz-form" class="btn-primary" id="submit-quiz-btn">Add quiz</button>
        </div>
    </main>
    <script src="/assets/script/new-quiz.js"></script>
</body>
</html>