<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('page/templates/head')  %> 
   
    <title>QUIZZDOM | Challenge yourself</title>
</head>
<body>
    <%- include('page/templates/header-shown') %>
    <main id="quiz__main">
        <div class="container">
            <div class="stats dflex">
                <div class="stats__questions">
                    <p class="p-regular">Question <br><span id="stats__questions-left">5</span>/<span id="stats__questions-exist">10</span></p>
                </div>
                <div class="stats__counter dflex" id="stats__counter">
                    <div class="stats__tracker"></div>
                    <div class="stats__tracker"></div>
                    <div class="stats__tracker"></div>
                    <div class="stats__tracker"></div>
                    <div class="stats__tracker"></div>
                    <div class="stats__tracker"></div>
                    <div class="stats__tracker"></div>
                    <div class="stats__tracker"></div>
                    <div class="stats__tracker"></div>
                    <div class="stats__tracker"></div>
                </div>
                <div class="stats__time">
                    <p class="p-regular">Time left... <br><span id="stats__time-left">20</span>s</p>
                </div>
            </div>
            <div id="question" class="question">
                <h2 id="question__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eveniet voluptatibus. Aut, amet aspernatur, dolor quis ?</h2>
                <div class="question__wrapper dflex">
                    <div class="question__photo">
                        <img id="question__img" src="/assets/img/question-img-test1.jpg" alt="Question image">
                    </div>
                    <div class="question__answers-wrapper dflex">
                        <div class="question__option p-regular" id="option1" data-id="1">
                            Lorem ipsum dolor sit amet
                        </div>
                        <div class="question__option p-regular" id="option2" data-id="2">
                            Lorem ipsum dolor sit amet
                        </div>
                        <div class="question__option p-regular" id="option3" data-id="3">
                            Lorem ipsum dolor sit amet
                        </div>
                        <div class="question__option p-regular" id="option4" data-id="4">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                </div>
                <button class="btn-primary" id="question-btn">See answer</button>
            </div>
        </div>
    </main>
    <script src="/assets/script/quiz.js"></script>
</body>
</html>