<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('page/templates/head')  %> 
    <title>QUIZZDOM | Score</title>
</head>
<body>
    <%- include('page/templates/header-shown') %>
    <main>
        <div class="container">
            <div class="fond">
                <div class="cont_add-new_quiz">
                    <h1 class="h1">Hello, Amanda123!</h1>
                </div>
                <p class="p_admin">Quizes you’ve already done:</p>
                <div class="flex-quiz">
                    <div class="quizz ad">
                        <div class="score_content">
                            <h2 class="h2-quiz ad">Quiz Capitals</h2>
                            <div class="dflex score">
                                <img src="/assets/img/star.png" alt="star">
                                <p>Your best score: 8 out of 10</p>
                            </div>
                            <div class="dflex score">
                                <img src="/assets/img/star.png" alt="star">
                                <p>Average time: 5.84s per question</p>
                            </div>
                        </div>
                    </div>
                    <div class="quizz ad">
                        <div class="score_content">
                            <h2 class="h2-quiz ad">Quiz Movies</h2>
                            <div class="dflex score">
                                <img src="/assets/img/star.png" alt="star">
                                <p>Your best score: 8 out of 10</p>
                            </div>
                            <div class="dflex score">
                                <img src="/assets/img/star.png" alt="star">
                                <p>Average time: 5.84s per question</p>
                            </div>
                        </div>
                    </div>
                    <div class="quizz ad">
                        <div class="score_content">
                            <h2 class="h2-quiz ad">Quiz Personality</h2>
                            <div class="dflex score">
                                <img src="/assets/img/star.png" alt="star">
                                <p>Your best score: 8 out of 10</p>
                            </div>
                            <div class="dflex score">
                                <img src="/assets/img/star.png" alt="star">
                                <p>Average time: 5.84s per question</p>
                            </div>
                        </div>
                    </div>
                    <div class="quizz ad">
                        <div class="score_content">
                            <h2 class="h2-quiz ad">Quiz to come up</h2>
                            <div class="dflex score">
                                <img src="/assets/img/star.png" alt="star">
                                <p>Your best score: 8 out of 10</p>
                            </div>
                            <div class="dflex score">
                                <img src="/assets/img/star.png" alt="star">
                                <p>Average time: 5.84s per question</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>