<header id="header">
    <div class="container dflex">
        <a href="/" id="header__back">< Back to menu</a>
        <figure class="logo">
            <a href="/">
                <img src="/assets/img/logo.svg" alt="Logo">
            </a>
        </figure>
        <div class="login">
            <a class="login__link dflex" href="login.ejs">
                <img src="/assets/img/user.svg" alt="User">
                <p class="login__p">Log in 
                    <span class="login__arrow dnone"></span>
                </p>
            </a>
            <div class="login__menu dnone" id="login__menu">
                <nav>
                    <ul>
                        <li>
                            <a href="#">My quizes</a>
                        </li>
                        <li>
                            <a href="#">My scores</a>
                        </li>
                        <li>
                            <a href="#">Log out ></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
